# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Ignorar archivos auxiliares de LaTeX dentro de /docs
docs/*.aux
docs/*.bbl
docs/*.bcf
docs/*.blg
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.out
docs/*.run.xml
docs/*.synctex.gz
docs/*.toc
docs/*.lof
docs/*.lot
docs/*.lol
docs/*.nav
docs/*.snm
docs/*.vrb
docs/*.minted